.txtcolor{
    color: white;
}


.contactdetail{
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.social-links {
    padding-bottom: 20px;
  }
  
.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .social-links a:hover {
    background: #ec7d7d;
    color: #fff;
  }