<div class="container">

    <div class="row">
        <div class="col">

            <div class="contactdetail">
                <div class="info">
                    <div>
                      <i class="fa fa-home txtcolor" aria-hidden="true"></i>
                      <p class="txtcolor">Raj Nagar Ghaziabad<br>Uttar Pradesh, Up 201002</p>
                    </div>
      
                    <div>
                      <i class="fa fa-envelope txtcolor" aria-hidden="true"></i>
                      <p class="txtcolor">vaibhav89000@gmail.com </p>
                    </div>
      
                    <div>
                      <i class="fa fa-phone txtcolor" aria-hidden="true"></i>
                      <p class="txtcolor">+91 9560146703</p>
                    </div>
                  </div>
      
                  <div class="social-links">
                    <a class="facebook"><i class="fa fa-facebook txtcolor" aria-hidden="true"></i></a>
                    <a  class="instagram"><i class="fa fa-instagram txtcolor" aria-hidden="true"></i></a>
                    <a  target="_blank" href="https://www.linkedin.com/in/vaibhav-sharma-aa5014169/" class="linkedin"><i class="fa fa-linkedin txtcolor" aria-hidden="true"></i></a>
                    <a  target="_blank" href="https://github.com/vaibhav89000"><i class="fa fa-github txtcolor" aria-hidden="true"></i></a>
                  </div>
            </div>
        </div>
    </div>
          
</div>
