<h1
class="monospace"
style="color: wheat;
/* font-size: 5vw; */
margin-left: 8vw;
margin-top: 2vw;
font-style: italic;
"
>CONTACT ME</h1>

<h4
class="monospace"
style="color: wheat;
/* font-size: 2vw; */
margin-left: 8vw;
margin-top: 5vw;
font-style: italic;
"
>Have a question or Want to work together?</h4>

<div class="row"
style="margin-left: 40vw;
margin-top: 8vw;">
    <div class="col-md-3">
        <i class="fa fa-whatsapp whatsapp" style="font-size:48px;color:red"></i>
        <h6
        style="color: wheat;
        ">+91-9560146703</h6>
    </div>
    <div class="col-md-3">
        <i class="fa fa-envelope mail" style="font-size:48px;color:red"></i>
        <h6
        style="color: wheat;
        text-align: center;
        margin-left: 6vw;
        ">vaibhav89000@gmail.com</h6>
    </div>

</div>
<h6
style="color: black;
/* font-size: 1vw; */
margin-left: 8vw;
margin-top: 2vw;">VAIBHAV SHARMA</h6>

<h6
style="color: black;
margin-top: 4vw;
margin-left: 45vw;">@copyright 2020</h6>