
<h1
class="monospace"
style="color: black;
margin-left: 8vw;
margin-top: 2vw;
/* font-size: 5vw; */
"
>ABOUT Me</h1>

<h6
class="monospace"
style="color: black;
/* font-size: 2vw; */
margin-left: 8vw;
margin-top: 3vw;
font-style: italic;
"


>I am <span class="do1">currently working</span>  as
   <span class="do1">Technical Content Writer</span> at <span class="do1">GeeksForGeeks</span>. </h6>

<img src="../../../assets/images/vaibhav.jpg" alt=""
style="
/* height: 18vw; */
/* width: 18vw; */
width: 89%;
  max-width: 400px;
  height: auto;
margin-top: 2vw;
margin-left: 9.3vw !important;
border-radius: 8vw;
"
>

<!-- <h3> -->
        <h6
class="monospace"
style="color: black;
/* font-size: 2vw; */
margin-left: 6vw;
margin-top: 3vw;
font-style: italic;
font-weight: bold;
">
I do <span class="do2">Web Development</span>,<span class="do2">Content writing <br/></span> 
        and <span class="do2">competetive coding</span>.
</h6>
<!-- </h3> -->



