<div class="container">

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="about row">
                <div class="col">
                    <img src="../../assets/images/vaibhav.jpg" alt="Avatar" class="profilePic">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="about row about-container">
                <div class="col-lg content order-lg-1 order-2">
                    <h2 class="title">Hey, Its Vaibhav</h2>
                    <p>
                        I am a passionate learner with an innovative mind. I am curious about new technologies.
                        I like to share my knowledge with others and to learn new technologies.
                        I am currently pursuing my B.Tech in Computer Science and Engineering and
                        exploring new domains.
                    </p>
                    <p>
                        I love to create web apps and scraping sites gathering data from them that works for dataset. 
                        My dream is to work in software startups and to be part of there growing phase. I want to enjoy the working there
                        and with my ability and talent want to make Web apps and products to ease
                        life of the people.
                    </p>
                    <p>
                        In free times I love to listen to music and play football and write articles.
                    </p>
        
        
                </div>
        
            </div>
        </div>
    </div>

    <div class=" row">
        <div class="col">

            <div class="container">
                <div class="section-header">
                  <h3 class="section-title"><i class="fa fa-address-book" aria-hidden="true"></i>Personal Information</h3>
                </div>
                  <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid #333;">Born</td>
                            <td class="w3-right-align">19<sup> </sup> Aug, 2000</td>
                          </tr>
                          <tr>
                            <td style="border-right: 1px solid #333;">Nationality</td>
                            <td class="w3-right-align">Indian</td>
                          </tr>
                          <tr>
                            <td style="border-right: 1px solid #333;">Father's Name</td>
                            <td class="w3-right-align">Mr. Pradeep Sharma</td>
                          </tr>
                          <tr>
                            <td style="border-right: 1px solid #333;">Hobbies</td>
                            <td class="w3-right-align">Listening Music<br>Playing Football<br>Writing articles</td>
                          </tr>
                          <tr>
                            <td style="border-right: 1px solid #333;">Occupation</td>
                            <td class="w3-right-align">Student</td>
                          </tr>
                          <tr>
                            <td style="border-right: 1px solid #333;">Contact Number</td>
                            <td class="w3-right-align">9560146703</td>
                          </tr>
                    </tbody>
                  </table>
              </div>

        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="container" id="education">
                <div class="education mt-2">
                  <h3 class="section-title education"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h3>
                </div>
                <div class="row" style="margin-top: 50px;">

                    <div class="col-sm-6 col-lg-4">
                        <div class="mt-2 card">
                            <div class="icon"><a href=""><i class="fa fa-desktop" aria-hidden="true"></i></a></div>
                              <h4 class="title"><a href="">B.Tech in Computer Science and Engineering</a></h4>
                              <h5 class="description"><a href="https://www.abes.ac.in/">ABES Engineering College, Ghaziabad</a> </h5>
                              <p>AKTU | 81%(till 3rd sem) | 2018 - 2022 (expected)</p>
                          </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="mt-2 card">
                            <div class="icon"><a href=""><i class="fa fa-bar-chart"></i></a></div>
                              <h4 class="title"><a href="">Intermediate</a></h4>
                              <h5 class="description"><a >Ryan International School, Ghaziabad</a>
                              </h5>
                              <p>CBSE | 89.2% | 2017 - 2018</p>
                          </div>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <div class="mt-2 card">
                            <div class="icon"><a href=""><i class="fa fa-paper-plane"></i></a></div>
                              <h4 class="title"><a href="">High School</a></h4>
                              <h5 class="description"><a >Ryan International School, Ghaziabad</a>
                              </h5>
                              <p>CBSE | 10 CGPA | 2015 - 2016</p>
                          </div>
                    </div>
                
        
        
                </div>
        
              </div>

        </div>
    </div>
    

</div>