<div class="container">

    <div class="row">
        <div class="col">

            <div class="container">
                <div class="project">
                  <h3 class="section-title"><i class="fa fa-free-code-camp" aria-hidden="true"></i> Project Works</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    
                </div>
                <div class="col-sm-12 col-lg-6">
                <h3><a href="https://gifted-lewin-7c5dfe.netlify.app/" target="_blank">PlacePrep - lets prepare for placement</a></h3>
                <h6>July 2020- Present</h6>
                <p>Placeprep helps students of college to understand the company hiring patterns.Here seniors of the college
                    share their placement experience. Students can search companys by there name, packages or roles.
                </p>
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-12 col-lg-6">
                <h3><a href="https://hostel-leave-72597.web.app" target="_blank">HostelLeave</a></h3>
                <h6>July 2020- Present</h6>
                <p>Hostel warden can manage student details using this application. Warden can see application of students for leave
                    and can accept or decline leave. Student can apply for leave without any paper use(letter) using this application and 
                    can view their status of application.
                </p>
                </div>

                <div class="col-sm-12 col-lg-6">
                    
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-12 col-lg-6">
                    
                </div>
                <div class="col-sm-12 col-lg-6">
                <h3><a href="https://codeglobal-bce82.web.app/home" target="_blank">Codaglobal Leaders board</a></h3>
                <h6>July 2020- Present</h6>
                <p>This is a rank board application. Where teams are shown according the matches won, loose, tie.
                    On adding new team. It changes the rank board on its on.
                    search bar is there for searching team and its score.
                </p>
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-12 col-lg-6">
                <h3><a href="https://gallant-goldstine-b936c2.netlify.app/" target="_blank">Covid 19 tracker</a></h3>
                <h6>July 2020- Present</h6>
                <p>A application that uses chart js to show covid 19 cases country wise.
                   Api is used for data.
                </p>
                </div>

                <div class="col-sm-12 col-lg-6">
                    
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-12 col-lg-6">
                    
                </div>
                <div class="col-sm-12 col-lg-6">
                <h3><a href="https://github.com/vaibhav89000/flipkart_reviews_scrape" target="_blank">Flipkart scraping</a></h3>
                <h6>July 2020- Present</h6>
                <p>Scraping flipkart reviews and doing natural language processing over the data. To understand user views on 
                    product.
                    Most common positive and negative reviews.
                </p>
                </div>
            </div>
            
            <div class="container">
                <div class="project">
                  <a href="https://github.com/vaibhav89000?tab=repositories" target="_blank" class="section-title"><i class="fa fa-github" aria-hidden="true"></i>Other Projects</a>
                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col">

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="../assets/images/cisco.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/datascience.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/enhancing.jpg" alt="Third slide">
                  </div>

                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/ethical.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/pcap.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/hacking.jpg" alt="Third slide">
                  </div>

                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/problemsolvingc.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/developing.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="../assets/images/html.jpg" alt="Third slide">
                  </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

        </div>
    </div>
</div>