<h1
class="monospace"
style="color: rgb(209, 148, 35);
margin-left: 8vw;
margin-top: 2vw;
/* font-size: 5vw; */
"
>PROJECTS</h1>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><a 
        target="_blank"
        href="https://condescending-aryabhata-f90e25.netlify.app">
        <img src="../../../assets/images/recipe.jpg"
         
        class="size"
        alt="">
    </a>
        
    </div>
    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a href="https://condescending-aryabhata-f90e25.netlify.app"
        target="_blank">
        <h5
        class="monospace"
        id="tag"
        style="color: rgb(66, 46, 8);
        
        /* font-size: 2vw; */
        "
        >Recipe</h5>
        </a>
        
    </div> -->
</div>




 <div class="row"
 style="margin-top: 5.2vw;">
    
    <!-- <div class="col-md-5">
            
    </div> -->

    <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a href="https://peaceful-euclid-00df8d.netlify.app"
        target="_blank"
        >
        <h5
        class="monospace"
        id="tag"
        style="color: rgb(66, 46, 8);
        margin-left: 8vw;
        /* font-size: 2vw; */
        "
        >Pokemon</h5>
        </a>
        
    </div>
     -->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><a 
        target="_blank"
        href="https://peaceful-euclid-00df8d.netlify.app">
        <img src="../../../assets/images/pokemon.jpg"
         
        class="size"
        alt="">
    </a>
        
    </div>
</div>
