.navbar{
    width: 100% !important;
    position: fixed;
    /* overflow: hidden; */
    overflow: auto;
    z-index: 100000;
}



/* .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }
   */

.home{
    background-image: url('../assets/images/home.png');
    position: relative;
   height: 800px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.about{
    /* background-image: url('../assets/images/home.png'); */
    position: relative;
   height: auto;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.experience{
    background-image: url('../assets/images/home.png');
    position: relative;
   height: 800px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.resume{
    /* background-image: url('../assets/images/home.png'); */
    position: relative;
   height: 1400px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.project{
    position: relative;
   height: 1100px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.contact{
    background-image: url('../assets/images/experience.jpg');
    position: relative;
   height: 600px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}