.navbar{
    width: 100% !important;
    position: absolute;
    /* overflow: hidden; */
    overflow: auto;
    z-index: 100000;
}



/* .monospace {
    font-family: "Lucida Console", Courier, monospace;
  }
   */

.home{
    background-image: url('../assets/images/home.png');
    position: absolute;
   height: 800px;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
