<div class="container">
    <div class=" resume row">
        <div class="col">

            <div class="container wow fadeInUp">
                <div class="section-header">
                  <h3 class="section-title"><i class="fas fa-book-reader"></i>Knowledge Pool</h3>
                </div>
                <div class="row" style="margin-top: 50px;">
                  
                      <div class="col-6">
                        <!-- <li> -->
                            <!-- Frontend -->
                            <h2>Frontend</h2>
            
                            <!-- HTML5 -->
                            <p style="width:80%" data-value="80">HTML5</p>
                              <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- CSS3 -->
                            <p style="width:75%" data-value="75">CSS3</p>
                            <progress-bar [progress]="77" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- javascript -->
                            <p style="width:72%" data-value="72">JavaScript</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>

                            <p style="width:72%" data-value="72">Angular</p>
                            <progress-bar [progress]="85" [color]="'#ec7d7d'">
                            </progress-bar>

                            <p style="width:72%" data-value="72">Ionic</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- Bootstrap -->
                            <p style="width:85%" data-value="85">Bootstrap</p>
                            <progress-bar [progress]="77" [color]="'#ec7d7d'">
                            </progress-bar>
            
                          <!-- </li> -->
                      </div>
                      <div class="col-6">
                        <!-- <li> -->
                            <!-- Backend -->
                            <h2>Backend</h2>
                          
                            <!-- Node.js -->
                            <p style="width:60%" data-value="60">Node.js</p>
                            <progress-bar [progress]="85" [color]="'#ec7d7d'">
                            </progress-bar>

                            <p style="width:68%" data-value="68">Firebase</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- MySQL -->
                            <p style="width:100%" data-value="100">MySQL</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>

                            <p style="width:75%" >PHP</p>
                            <progress-bar [progress]="60" [color]="'#ec7d7d'">
                            </progress-bar>
            
                          <!-- </li> -->
                      </div>
                </div>

                <div class="row">
                    <div class="col">
                        <!-- <li> -->
                            <!-- languages -->
                            <h2>Languages</h2>
            
                            <!-- C -->
                            <p style="width:85%" data-value="85">C Language</p>
                            <progress-bar [progress]="75" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- C++ -->
                            <p style="width:85%" data-value="85">C++</p>
                            <progress-bar [progress]="85" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- Python -->
                            <p style="width:78%" data-value="78">Python</p>
                            <progress-bar [progress]="90" [color]="'#ec7d7d'">
                            </progress-bar>
            
                          <!-- </li> -->
                      </div>
                      <div class="col">
                        <!-- <li> -->
                            <!-- Concepts -->
                            <h2>Concepts</h2>
            
                            <!-- DS -->
                            <p style="width:65%" data-value="65">Data Structures</p>
                            <progress-bar [progress]="85"  [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- algo -->
                            <p style="width:60%" data-value="60">Algorithms</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            <!-- OS -->
                            <p style="width:75%" data-value="75">DBMS</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>

                            <p style="width:75%" data-value="75">OOPS</p>
                            <progress-bar [progress]="80" [color]="'#ec7d7d'">
                            </progress-bar>
            
                            
                          <!-- </li> -->
                      </div>
                </div>

                <div class="row">
                  <div class="col">
                      <!-- <li> -->
                          <!-- languages -->
                          <h2>Other</h2>
          
                          <!-- C -->
                          <p style="width:85%" data-value="85">Flask</p>
                          <progress-bar [progress]="60" [color]="'#ec7d7d'">
                          </progress-bar>
          
                          <!-- C++ -->
                          <p style="width:85%" data-value="85">Scrapy</p>
                          <progress-bar [progress]="85" [color]="'#ec7d7d'">
                          </progress-bar>
          
                          <!-- Python -->
                          <p style="width:78%" data-value="78">Selenium</p>
                          <progress-bar [progress]="70" [color]="'#ec7d7d'">
                          </progress-bar>
          
                        <!-- </li> -->
                    </div>
              </div>


        </div>
    </div>
</div>