

.size{
    /* height: 18vw; */
    /* width: 41vw; */
    /* width: 73%; */
    width: 73%;
    margin: auto;
    margin-top: 4vw;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;

    /* margin: 14vw; */
    /* margin-left: 30vw !important; */
    /* margin-left: 2vw; */
    /* margin-bottom: 2vw; */
}
a{
    text-decoration:none;
    
}
h1:hover {
    color: black !important;
  }

  .buttons{
      margin-top: 2vw;
      margin-left: 23vw;
  }

 