<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <a href="https://gallant-goldstine-b936c2.netlify.app"
        target="_blank">
            <img src="../../../assets/images/covid.png" 
            class="size"
            alt="">
        </a>
        
    </div>
   
</div>




<h3
class="monospace"
style="color: wheat;
/* font-size: 2vw; */
margin-left: 34vw;
margin-top: 5vw;
font-style: italic;
"
>To know more about me!</h3>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 buttons">
        <button
        class="btn btn-primary"
        style="margin-left: 15vw;
        border-radius: 1vw;">
        <a
            class="monospace"
            style="color: white;
            /* font-size: 2vw; */
            /* margin-left: 1vw;
            margin-top: 24vw; */
            font-style: italic;
            text-align: center;
            "
            href="https://auth.geeksforgeeks.org/user/versus/articles" target="_blank">GFG profile</a></button>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 buttons">
        <button
        class="btn btn-primary"
        style="margin-left: 20vw;
        border-radius: 1vw;">
        <a
         class="monospace"
         style="color: white;
         /* font-size: 2vw; */
         /* margin-left: 1vw;
         margin-top: 24vw; */
         font-style: italic;
         text-align: center;
         "
         href="https://drive.google.com/open?id=1Dwhk2j0yU-5Cn_DS-x8enK82WFMeYwAI" target="_blank">Resume</a></button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 buttons">
        <button
        class="btn btn-primary"
        style="margin-left: 20vw;
        border-radius: 1vw;">
        <a
         class="monospace"
         style="color: white;
         /* font-size: 2vw; */
         /* margin-left: 1vw;
         margin-top: 24vw; */
         font-style: italic;
         text-align: center;
         "
         href="https://www.codechef.com/users/vhack" target="_blank">Codechef</a></button>
    </div>
</div>
   
    

   
<div 
style="margin-left: 47vw;
margin-top: 6vw;"
class="row">
    <div class="col-md-3"><a href="https://www.linkedin.com/in/vaibhav-sharma-aa5014169/" target="_blank" ><i class="fa fa-linkedin-square" style="font-size:48px;color:red"></i></a></div>
    <div class="col-md-3"><a href="https://github.com/vaibhav89000" target="_blank"><i class="fa fa-github" style="font-size:48px;color:red"></i></a></div>
   
</div>

