<h1
class="monospace"
style="color: wheat;
/* font-size: 5vw; */
margin-left: 22vw;
margin-top: 2vw;
font-style: italic;
"
>SKILLS / EXPERIENCES</h1>

<div class="row">
    <div class="col-md-6">
        <h6
        style="
        /* font-size: 2vw; */
        color: blanchedalmond;
        margin-left: 8vw;
        "
        >
         Web development
        HTML / CSS / BOOTSTRAP / 
        ANGULAR / NODEJS / PHP
    </h6>
    </div>
    <div class="col-md-6">
        <h6
        style="
        /* font-size: 2vw; */
        color: blanchedalmond;
        margin-left: 8vw;
        ">
                Data science
                matplot / numpy /
                pandas / scikit / seaborn
    </h6>
    </div>
</div>

<h6
class="monospace"
style="
color: wheat;
/* font-size: 2vw; */
margin-left: 12vw;
margin-top: 12vw;
font-style: italic;
"
>Technical content writer at GeeksForGeeks.</h6>

<h6
class="monospace"
style="color: wheat;
/* font-size: 2vw; */
margin-left: 12vw;
margin-top: 2vw;
font-style: italic;
"
>Web development intern Innoskrit.</h6>

<h6
class="monospace"
style="color: wheat;
/* font-size: 2vw; */
margin-left: 12vw;
margin-top: 2vw;
font-style: italic;
"
>Enigma club ( coding club of college ).</h6>




